html{
    background-color: #EDF2C5;
    width: 1260px;
    height: 940px;
}
.container
{
  margin-left: 160px;
  margin-right: 160px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header{
    display: flex;
    width: 940px;
    margin-top: 53px;
}
.header_title{
    font-family: 'Arial Black', sans-serif;
    color: #778A50;
    font-size: 44px;
    width: 271px;
    height: 42px;
    margin-top:0px;
}
.bar
{
    margin-left: 468px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.header_instagram
{
    width: 25px;
    height: 25px;
    background-image: url(../img/btn_instagram.png);
    border: 1px #778A50;
    margin-left: 0px;
    margin-right: 10px;
}
.header_facebook
{
    width: 25px;
    height: 25px;
    border: 1px #778A50;
    background-image:url(../img/btn_facebook.png);
    margin-right: 10px;
}
.header_line
{
    height: 25px;
    border-left: 1px solid #778A50;
    margin-right: 10px;
    display: flex;
}
.LOGIN_btn
{
    width: 60px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #778A50;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Arial BoldMT', sans-serif;
    color: #778A50;
    background-color: #EDF2C5;
}
.JOIN_btn
{
    width: 50px;
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
    border: 1px solid #778A50;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Arial BoldMT', sans-serif;
    color: #778A50;
    background-color: #EDF2C5;
}
.head_menu
{
    display: flex;
    align-items: center;
    background: #778a50;
    border-radius: 3px;
    width: 940px;
    height: 44px;
    margin-bottom: 20px;
    
}
.head_menu_item
{
    font-family: 'Arial Black',sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration-line: none;
    font-size: 16px;
    color: #EDF2C5;
    
}
.main{
    width: 940px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 35px;
}
.main_vegetable
{
    width: 445px;
    height: 200px;
    float: left;
    margin-left: 0px;
}
.main_vegetable_background
{
    width: 445px;
    height: 45px;
    background-color: #778A50;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.main_vegetable_title
{
    font-family: 'Arial Black',sans-serif;
    font-size: 16px;
    color: #EDF2C5;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.vegetables_img
{
    width: 140;
    height: 140;
    margin-right: 12px;
    margin-left: 0px;
    float: left;
}
.vegetables_img_last
{
    width: 140;
    height: 140;
    margin: 0;
    float: left;
}
.main_contact
{
    margin-left: 50px;
    float: right;
}
.main_contact_background
{
    width: 445px;
    height: 45px;
    background-color: #778A50;
    align-items: center;
    display: flex;
}
.main_contact_title
{
    font-family: 'Arial Black',sans-serif;
    font-size: 16px;
    color: #EDF2C5;
    margin-top: 17px;
    margin-bottom: 16px;
    margin-left: 30px;
}
.main_contact_content
{
    width: 445px;
    height: 140px;
    background-color: #F7FBDA;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.main_contact_introduction
{
    font-family: 'ArialMT Regular',sans-serif;
    font-size: 12px;
    line-height: 1.33em;
    color: #7d7d7d;
    margin-top: 16px;
    margin-left: 15px;
    margin-bottom: 0;
}
.main_contact_content_line
{
    width: 414px;
    border-top: solid #7D7D7D 1px;
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 0;
}
.main_contact_info
{
    margin-left: 15px;
    margin-top: 16px;
}
.main_contact_info p
{
    font-family: 'ArialMT Regular',sans-serif;
    font-size: 12px;
    line-height: 1.83em;
    color: #7d7d7d;
    margin: 0;
}
footer{
    width:1264px;
    height: 60px;
    text-align: center;
    background-color: #778A50;
}
.footer_word{
    font-size: 12px;
    color: #EDF2C5;
    margin-top: 24px;
    margin-bottom: 25px;
}